
table {
  width:100%;

  th, td {
    &:not(:last-child) {
      width: 30%;
    }
  }

  td {
    padding:5px 5px 5px 0;
  }

  &.create-user {
    td input {
      max-width: 30%;
      &:nth-child(2) {
        margin: 0 5px;
      }
    }

    button {
      margin-left: 5px;
    }
  }
}
